{% extends ../../../mysite/templates/main.html %}
<script src="https://cdn.tailwindcss.com"></script>
{% block content %}
<section id="hobbies">
  <div class="p-10 pl-20 space-y-8 pb-24">
    <h2 class="font-sans font-extrabold text-5xl text-[#E29578]">Hobbies</h2>
    <div class="grid grid-cols-2 gap-5 space-y-1 ml-12">
      <div class="flex flex-row items-center ">
        <h3 class="font-sans font-light text-2xl">Hiking</h3>
      </div>
      <div class="flex flex-row items-center gap-5">
        <h3 class="font-sans font-light text-2xl">Playing guitar</h3>
      </div>
      <div class="flex flex-row items-center gap-5">
        <h3 class="font-sans font-light text-2xl">Watching movies</h3>
      </div>
      <div class="flex flex-row items-center gap-5">
        <h3 class="font-sans font-light text-2xl">Photography</h3>
      </div>
    </div>
  </div>
</section>
<section id="about_site">
  <div class="bg-[#EDF6F9] flex justify-start flex-col gap-5 p-10 pl-20 pb-24">
    <h1 class="font-sans font-extrabold text-5xl text-[#006D77]">About this site</h1>
    <div class="pt-5">
      <h2 class="font-sans font-semibold text-3xl text-[#0097A5]">Colors</h2>
      <div class="pt-5 flex flex-row justify-start items-center">
        <img class="pr-10" src="colors.svg" alt="">
        <p class="font-sans font-light text-2xl text-black">The color palete selected reflects peace, serenity and also joviality. Also blue is my favorite color and the orange tonalities are a great counterpart for te design.</p>
      </div>
    </div>
    <div class="pt-5">
      <h2 class="font-sans font-semibold text-3xl text-[#0097A5]">Typography</h2>
      <div class="pt-5 flex flex-row justify-start items-center">
        <div class="flex flex-col gap-4 pr-10">
          <p class="font-sans font-extrabold text-2xl text-black">Montserrat</p>
          <p class="font-sans font-bold text-2xl text-black">Montserrat</p>
          <p class="font-sans font-semibold text-2xl text-black">Montserrat</p>
          <p class="font-sans font-normal text-2xl text-black">Montserrat</p>
          <p class="font-sans font-light text-2xl text-black">Montserrat</p>
        </div>
        <p class="font-sans font-light text-2xl text-black">Montserrat typography is a great way to make your designs have a powerful and impact full text while being able to maintain space, harmony and balance to the design.</p>
      </div>
    </div>
    <div class="pt-5">
      <h2 class="font-sans font-semibold text-3xl text-[#0097A5]">Style</h2>
      <div class="pt-5 flex flex-row justify-start items-center">
        <p class="font-sans font-light text-2xl text-black">The style selected for the site is a modern and fresh minimalism to maintain visual harmony</p>
      </div>
    </div>
  </div>
</section>

{% endblock content %}