{% load static tailwind_tags %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/288840f052.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    {% load static %}
    {% tailwind_css %}
</head>
<body>
  <!-- NAVBAR -->
  <div class=" pt-10 pb-2 flex justify-around px-10">
    <div class="flex justify-star">
      <img src="{% static 'imgs/logo.svg' %}">
    </div>

    <div class="flex flex-row justify-center space-x-10">
      <a href="" class="font-sans font-normal text-3xl text-[#FD8C62]">HOME</a>
      <a href="{% url 'blog' %}" class="font-sans font-normal text-3xl hover:text-[#FD8C62]">BLOG</a>
      <a href="{% url 'resume' %}" class="font-sans font-normal text-3xl hover:text-[#FD8C62]">RESUME</a>
      <a href="{% url 'about' %}" class="font-sans font-normal text-3xl hover:text-[#FD8C62]">ABOUT</a>
    </div>
  </div>
  <div class="flex justify-center">
    <hr class="border-[#BEE7E2] w-3/4 mt-4">
  </div>  
  <!-- {% block content %}
  {% endblock content %} -->
  <section id="welcome">
    <div class=" p-10 grid grid-cols-2 gap-4 ml-12">
      <div class="flex flex-col gap-7">
        <h3 class="font-sans font-normal text-3xl">Hello, my name is</h3>
        <h1 class="font-sans font-black text-7xl text-[#0097A5] ml-20 hover:text-[#FD8C62]">Julián Robert</h1>
        <h3 class="font-sans font-normal text-3xl ">A software developer from San José, Costa Rica</h3>
        <hr class="border-[#FFDDD2] w-3/4 mt-4">
        <p class="font-sans font-light text-lg ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. </p>
      </div>
      <div class="relative">
        <div class=" flex justify-center z-50">
          <img src="{% static 'imgs/profile.jpg' %}" class="h-96 w-96 rounded-full border-4 border-white">
        </div>
        <!-- <div class="flex justify-end mt-8 mr-32 relative">
          <div class="h-96 w-96 rounded-full bg-[#FD8C62]"></div>
        </div> -->
      </div>
    </div>
  </section>
  <section id="interests">
    <div class="bg-[#EDF6F9] p-10 pl-20 pb-16 space-y-8">
      <h2 class="font-sans font-bold text-4xl">Areas of interest</h2>
      <div class="ml-12 grid grid-cols-2 ">
        <div class="space-y-5">
          <h3 class="font-sans font-light text-2xl">Web design</h3>
          <h3 class="font-sans font-light text-2xl">Web development</h3>
        </div>
        <div class="ml-0 space-y-5">
          <h3 class="font-sans font-light text-2xl">Product design</h3>
          <h3 class="font-sans font-light text-2xl">Mobile development</h3>
        </div>
      </div>
    </div>
  </section>
  <section id="techs">
    <div class="p-10 pl-20 space-y-8 pb-16">
      <h2 class="font-sans font-bold text-4xl text-[#E29578]">Technologies</h2>
      <div class="grid grid-cols-4 gap-5 space-y-4 ml-12">
        <div class="flex flex-row items-center gap-5">
        <img class="" src="../../mysite/static/imgs/js.svg" alt="">
        <h3 class="font-sans font-light text-2xl">Javascript</h3>
      </div>
      <div class="flex flex-row items-center gap-5">
        <img class="" src="../../mysite/static/imgs/ts.svg" alt="">
        <h3 class="font-sans font-light text-2xl">Typescript</h3>
      </div>
      <div class="flex flex-row items-center gap-5">
        <img class="" src="../../mysite/static/imgs/python.svg" alt="">
        <h3 class="font-sans font-light text-2xl">Python</h3>
      </div>
      <div class="flex flex-row items-center gap-5">
        <img class="" src="../../mysite/static/imgs/figma.svg" alt="">
        <h3 class="font-sans font-light text-2xl">Figma</h3>
      </div>
      <div class="flex flex-row items-center gap-5">
        <img class="" src="../../mysite/static/imgs/html.svg" alt="">
        <h3 class="font-sans font-light text-2xl">HTML</h3>
      </div>
      <div class="flex flex-row items-center gap-5">
        <img class="" src="../../mysite/static/imgs/react.svg" alt="">
        <h3 class="font-sans font-light text-2xl">React</h3>
      </div>
      <div class="flex flex-row items-center gap-5">
        <img class="" src="../../mysite/static/imgs/django.svg" alt="">
        <h3 class="font-sans font-light text-2xl">Django</h3>
      </div>
      <div class="flex flex-row items-center gap-5">
        <img class="" src="../../mysite/static/imgs/c.svg" alt="">
        <h3 class="font-sans font-light text-2xl">C/C++</h3>
      </div>
      <div class="flex flex-row items-center gap-5">
        <img class="" src="../../mysite/static/imgs/css.svg" alt="">
        <h3 class="font-sans font-light text-2xl">CSS</h3>
      </div>
      <div class="flex flex-row items-center gap-5">
        <img class="" src="../../mysite/static/imgs/sql.svg" alt="">
        <h3 class="font-sans font-light text-2xl">SQL</h3>
      </div>
    </div>
  </div>
</section>
<section id="portfolio">
  <div class="bg-[#F4F3F8] p-10 pl-20 space-y-8 pb-32">
    <h2 class="font-sans font-bold text-4xl text-[#006D77]">Portfolio</h2>
    <div class="grid grid-cols-2 bg-[#FFDDD2] rounded-3xl p-10 mx-80 shadow-md">
      <div class="flex flex-col gap-5">
        <h2 class="font-sans font-bold text-3xl text-black">TaskTransit</h2>
          <h3 class="font-sans font-normal text-2xl text-black mb-2">Kanban-style task management aplication</h3>
          <h3 class="font-sans font-normal text-xl text-black">Fullstack development</h3>
          <div class="gap-4">
            <p class="font-sans font-light text-lg text-black">Python</p>
            <p class="font-sans font-light text-lg text-black">Django</p>
            <p class="font-sans font-light text-lg text-black">HTML</p>
            <p class="font-sans font-light text-lg text-black">CSS</p>
          </div>
        </div>
        <div class="flex justify-center align-baseline mb-0 pb-0">
          <img src="../../mysite/static/imgs/tasktransit.png" alt="">
        </div>
      </div>
      <div class="grid grid-cols-2 bg-[#FFDDD2] rounded-3xl p-10 mx-80 shadow-md">
        <div class="flex flex-col gap-5">
          <h2 class="font-sans font-bold text-3xl text-black">TaskTransit</h2>
          <h3 class="font-sans font-normal text-2xl text-black mb-2">Kanban-style task management aplication</h3>
          <h3 class="font-sans font-normal text-xl text-black">Fullstack development</h3>
          <div class="gap-4">
            <p class="font-sans font-light text-lg text-black">Python</p>
            <p class="font-sans font-light text-lg text-black">Django</p>
            <p class="font-sans font-light text-lg text-black">HTML</p>
            <p class="font-sans font-light text-lg text-black">CSS</p>
          </div>
        </div>
        <div class="flex justify-center align-baseline mb-0 pb-0">
          <img src="{% static 'imgs/kura.png' %}" alt="">
        </div>
      </div>
      <div class="grid grid-cols-2 bg-[#FFDDD2] rounded-3xl p-10 mx-80 shadow-md">
        <div class="flex flex-col gap-5">
          <h2 class="font-sans font-bold text-3xl text-black">TaskTransit</h2>
          <h3 class="font-sans font-normal text-2xl text-black mb-2">Kanban-style task management aplication</h3>
          <h3 class="font-sans font-normal text-xl text-black">Fullstack development</h3>
          <div class="gap-4">
            <p class="font-sans font-light text-lg text-black">Python</p>
            <p class="font-sans font-light text-lg text-black">Django</p>
            <p class="font-sans font-light text-lg text-black">HTML</p>
            <p class="font-sans font-light text-lg text-black">CSS</p>
          </div>
        </div>
        <div class="flex justify-center align-baseline mb-0 pb-0">
          <img src="../../mysite/static/imgs/lasplumas.png" alt="">
        </div>
      </div>
    </div>
    
    
  </section>
  
  <!-- FOOTER -->
  <div class="p-5 px-20 bg-[#006D77] grid grid-cols-3 gap-2 shrink-0">
    <div class="grid grid-cols-2 gap-4">
      <div class="col-span-2 flex items-center space-x-2">
        <i class="fa-regular fa-envelope text-white "></i>
        <p class="font-sans font-normal text-s text-white">julianrobertsolano01@gmail.com</p>
      </div>
      <div class="flex items-center space-x-2">
        <i class="fa-brands fa-github text-white"></i>
        <p class="font-sans font-normal text-s text-white">Julian2603</p>
      </div>
      <div class="flex items-center space-x-2">
        <i class="fa-brands fa-linkedin text-white"></i>
        <p class="font-sans font-normal text-s text-white">Julian2603</p>
      </div>
    </div>
    <div class="flex flex-col justify-center align-items-center gap-y-2.5">
      <div class="flex justify-center align-items-center">
        <p class="font-sans font-normal text-xl text-white">Let's get in touch!</p>
      </div>
      <div class="flex justify-center align-items-center">
        <button class="bg-[#83C5BE] hover:bg-[#83C5BE]/70 p-1 px-6 rounded-lg font-sans font-medium text-xl text-black shadow-lg">Contact me</button>
      </div>
    </div>
    <div class="flex flex-col justify-end gap-x-1.5">
      <div class="flex justify-end gap-x-32">
        <div class="flex flex-row space-x-10">
          <a href="{% url 'blog' %}" class="font-sans font-normal text-lg text-white hover:text-[#FD8C62]">BLOG</a>
          <a href="{% url 'resume' %}" class="font-sans font-normal text-lg text-white hover:text-[#FD8C62]">RESUME</a>
          <a href="{% url 'about' %}" class="font-sans font-normal text-lg text-white hover:text-[#FD8C62]">ABOUT</a>
          
        </div>
        <div class="flex justify-end shrink-0">
          <img class="h-10" src="../../mysite/static/imgs/logo-white.svg">
        </div>
      </div>
      <div class="flex justify-end">
        <p class="font-sans font-normal text-s text-white">Copyright &#169; 2024 Julián Robert Solano. All Rights Reserved.</p>
      </div>
    </div>
  </div>
  
</body>
</html>