{% load socialaccount %} 
{% load static tailwind_tags %}
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/288840f052.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    {% load static %}
    {% tailwind_css %}
</head>
<body>
<!-- NAVBAR -->
<!-- Navbar HTML -->
<div class="pt-10 pb-2 flex justify-between px-10 items-center">
  <div class="flex justify-start">
      <img src="{% static 'imgs/logo.svg' %}" alt="Logo">
  </div>

  <div class="hidden md:flex flex-row justify-center space-x-10">
      <a href="{% url 'home' %}" class="font-sans font-normal text-3xl transition duration-300 hover:text-[#FD8C62]">HOME</a>
      <a href="{% url 'blog' %}" class="font-sans font-normal text-3xl transition duration-300 decoration-[#FD8C62] underline underline-offset-8">BLOG</a>
      <a href="{% url 'resume' %}" class="font-sans font-normal text-3xl transition duration-300 hover:text-[#FD8C62]">RESUME</a>
      <a href="{% url 'about' %}" class="font-sans font-normal text-3xl transition duration-300 hover:text-[#FD8C62]">ABOUT</a>
      
      {% if user.is_authenticated %}
      <div class="relative">
        <button id="profile-btn" class="flex items-center space-x-2 focus:outline-none">
            <i class="fas fa-user-circle text-3xl"></i>
        </button>
        <div id="profile-menu" class="hidden absolute right-0 mt-2 w-auto bg-white border border-gray-200 rounded-lg shadow-lg">
            <div class="flex flex-col gap-2 py-3 px-4">
                <p class="text-gray-900 font-medium text-xl">{{ user.first_name }} {{ user.last_name }}</p>
                <p class="text-gray-600">
                  {% if user_is_admin %}
                    Admin
                  {% elif user_is_moderator %}
                    Moderator
                  {% elif user_is_subscriber %}
                    Subscriber
                  {% endif %}
                </p>
                <p class="text-gray-500 font-light">{{ user.email }}</p>
            </div>
            <div class="py-2 border-t border-gray-200 hover:bg-gray-100">
                <a href="{% url 'account_logout' %}" class="block px-4 py-2 text-gray-700">Log out</a>
            </div>
        </div>
      </div>
      {% else %}
      <a href="{% provider_login_url 'google' %}?next=/" class="font-sans font-normal text-3xl transition duration-300 hover:text-[#FD8C62]">LOG-IN</a>
      {% endif %}
  </div>

  <!-- Hamburger Icon -->
  <div class="md:hidden flex items-center">
      <button id="menu-btn" class="focus:outline-none">
          <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
          </svg>
      </button>
  </div>
</div>

<!-- Mobile Menu -->
<div id="menu" class="hidden md:hidden flex flex-col space-y-4 mt-4 p-10 bg-white shadow-lg absolute w-full left-0 top-20 z-50">
  <a href="{% url 'home' %}" class="font-sans font-normal text-3xl transition duration-300 decoration-[#FD8C62] hover:text-[#FD8C62]">HOME</a>
  <a href="{% url 'blog' %}" class="font-sans font-normal text-3xl transition duration-300 text-[#FD8C62]">BLOG</a>
  <a href="{% url 'resume' %}" class="font-sans font-normal text-3xl transition duration-300 hover:text-[#FD8C62]">RESUME</a>
  <a href="{% url 'about' %}" class="font-sans font-normal text-3xl transition duration-300 hover:text-[#FD8C62]">ABOUT</a>
  {% if user.is_authenticated %}
  <a href="{% url 'account_logout' %}" class="font-sans font-normal text-3xl transition duration-300 hover:text-[#FD8C62]">LOG-OUT</a>
  {% else %}
  <a href="{% provider_login_url 'google' %}?next=/" class="font-sans font-normal text-3xl transition duration-300 hover:text-[#FD8C62]">LOG-IN</a>
  {% endif %}
</div>
</style>
<script>
  document.getElementById('menu-btn').addEventListener('click', function() {
    var menu = document.getElementById('menu');
    menu.classList.toggle('hidden');
  });
  
  document.getElementById('profile-btn').addEventListener('click', function(event) {
        var profileMenu = document.getElementById('profile-menu');
        profileMenu.classList.toggle('hidden');

        // Ensure the profile menu opens towards the left
        profileMenu.style.right = '0';
        profileMenu.style.left = 'auto';
        profileMenu.style.top = '100%';
    });

    // Close the profile menu if clicked outside
    window.addEventListener('click', function(event) {
        var profileMenu = document.getElementById('profile-menu');
        var profileBtn = document.getElementById('profile-btn');
        if (event.target !== profileBtn && !profileBtn.contains(event.target) && !profileMenu.contains(event.target)) {
            profileMenu.classList.add('hidden');
        }
    });
</script>
  <!-- {% block content %}
  {% endblock content %} -->

  <section id="article">
    <div class="p-10 flex flex-col gap-5">
      <div class="flex justify-start align-center text-xl">
        <a href="{% url 'blog' %}"><i class="fa-solid fa-arrow-left"></i></a>
      </div>
      <h1 class="font-sans font-extrabold text-4xl text-[#006D77]">{{ article.title }}</h1>
      <div class="grid grid-cols-3">
        <div class="">
          <h2 class="font-sans font-semibold text-2xl text-black">{{ article.author.first_name }} {{ article.author.last_name }}</h2>
        </div>
        <div class="flex flex-col gap-5">
          <h2 class="font-sans font-semibold text-lg text-black"> {{ article.category }} </h2>
          <h2 class="font-sans font-semibold text-lg text-black"> {{ article.date }} </h2>
        </div>
        <div class="flex flex-col gap-5">
          <div class="flex flex-row gap-2 justify-start align-center items-center">
            <i class="fa-regular fa-clock"></i>
            <h2 class="font-sans font-semibold text-lg text-black"> Reading time: {{ article.reading_time }} min</h2>
          </div>
          {% if user.is_authenticated %}
            <button id="like-button" class="flex flex-row gap-2 justify-start align-center items-center focus:outline-none" data-article-id="{{ article.id }}">
              <i id="like-icon" class="fa-regular fa-heart"></i>
              <h2 id="like-count" class="font-sans font-normal text-lg text-black">{{ article.likes }} likes</h2>
            </button>
          {% else %}
            <p class="font-sans font-normal text-lg text-black">You must be logged in to like this article.</p>
          {% endif %}
          {% if user.is_authenticated and user_is_admin%}
          <div class="felx justify-start items-start">
            <button type="button" class=" fonst-sans font-semibold text-red-500 delete-article-button" data-article-id="{{ article.id }}">
              <i class="fas fa-trash-alt mr-1"></i>
              Eliminar Artículo
            </button>
          </div>
          {% endif %}
        </div>
      </div>
      <hr class="flex justify-center align-center items-center border-2 roundes-full border-[#BEE7E2] w-full mt-4">
      <div class="flex flex-col text-justify">
        <p class="font-sans font-regular text-lg text-black"> {{ article.abstract }} </p>
      </div>
      <div class="flex justify-center my-10">
        <img class="flex items-center w-2/5" src="{% static 'imgs/placeholder.jpg' %}" alt="">
      </div>
      <div class="text-justify">
        <p class="font-sans font-regular text-lg text-black"> {{ article.body }}</p>
      </div>
    </div>
  </section>
  <script>
    document.querySelectorAll('.delete-article-button').forEach(button => {
        button.addEventListener('click', function() {
            if (!confirm('¿Estás seguro de que deseas eliminar este artículo?')) {
                return;
            }
            var articleId = this.getAttribute('data-article-id');
            var csrfToken = '{{ csrf_token }}';
            $.ajax({
                type: 'POST',
                url: '{% url "delete_article" 0 %}'.replace('0', articleId),
                data: {
                    'csrfmiddlewaretoken': csrfToken
                },
                success: function(response) {
                    if (response.status === 'success') {
                        window.location.href = response.redirect_url;
                    } else {
                        alert('Failed to delete article. Server responded with: ' + response.status);
                    }
                },
                error: function(xhr, status, error) {
                    alert('Error deleting article: ' + xhr.responseText);
                }
            });
        });
    });
    </script>
    
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    document.getElementById('like-button').addEventListener('click', function() {
      var likeIcon = document.getElementById('like-icon');
      if (likeIcon.classList.contains('fa-regular')) {
        likeIcon.classList.remove('fa-regular');
        likeIcon.classList.add('fa-solid');
      } else {
        likeIcon.classList.remove('fa-solid');
        likeIcon.classList.add('fa-regular');
      }
      var articleId = this.getAttribute('data-article-id');
      $.ajax({
        type: 'POST',
        url: '{% url "like-article" %}',
        data: {
          'article_id': articleId,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function(response) {
          var likeCount = document.getElementById('like-count');
          likeCount.textContent = response.likes + ' likes';
          var likeIcon = document.getElementById('like-icon');
          likeIcon.classList.remove('fa-regular');
          likeIcon.classList.add('fa-solid');
        }
      });
    });
  </script>
 <section id="comments">
  <div class="flex flex-col gap-5 p-10 bg-[F4F3F8]">
    <h2 class="font-sans font-extrabold text-3xl text-[#E29578]">Comments</h2>
    <div class="flex flex-col justify-start items-start gap-5">
      <h2 class="font-sans font-semibold text-xl text-black">Want to add something?</h2>
      <div class="w-11/12 mb-4">
        {% if user.is_authenticated %}
          <form id="commentForm" method="POST" action="{% url 'add-comment' %}">
            {% csrf_token %}
            <div class="grid xl:grid-cols-4 xl:gap-6">
              <div class="relative z-0 mb-6 w-full group">
                <input type="tel" name="name" id="floating_name" class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-500 appearance-none focus:outline-none focus:ring-0 focus:border-[#006D77] peer" placeholder=" " required />
                <label for="floating_name" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-[#006D77] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Name</label>
              </div>
              <div class="col-span-2 relative z-0 mb-6 w-full group ">
                <input type="text" name="comment_body" id="floating_comment" class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-500 appearance-none focus:outline-none focus:ring-0 focus:border-[#006D77] peer" placeholder=" " required />
                <label for="floating_comment" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-[#006D77] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Write a comment</label>
              </div>
              <div class="">
                <button type="submit" class="text-white bg-[#006D77] transition duration-300 shadow-lg hover:bg-[#83C5BE]/70 hover:text-gray-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-base w-full sm:w-auto px-5 py-2.5 text-center">Add comment</button>
              </div>
            </div>
            <input type="hidden" name="article_id" value="{{ article.id }}">
          </form>
        {% else %}
          <p class="font-sans font-normal text-lg text-black">You must be logged in to add a comment.</p>
          <a href="{% url 'login' %}" class="font-sans font-normal text-lg text-[#006D77] hover:underline">Log in</a>
        {% endif %}
      </div>
    </div>

    {% for comment in comments %}
    <hr class="border-gray-200 w-11/12 mt-4">
    <div class="flex items-start flex-col gap-2 px-5" id="comment-{{ comment.id }}">
      <div class="flex justify-center align-center items-center flex-row gap-5">
        <p class="font-sans font-bold text-base text-black">{{ comment.name }}</p>
        <p class="font-sans font-light text-base text-black">{{ comment.comment_date|date:"Y-m-d" }}</p>
      </div>
      <div class="flex justify-center align-center items-center flex-row gap-5">
        <p class="font-sans font-light text-base text-black">{{ comment.comment_body }}</p>
      </div>
      {% if user.is_authenticated and user_is_admin or user_is_moderator %}
        <button type="button" class="text-red-500 delete-comment-button" data-comment-id="{{ comment.id }}">Eliminar</button>
      {% endif %}
    </div>
    {% endfor %}
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      document.querySelectorAll('.delete-comment-button').forEach(button => {
        button.addEventListener('click', function() {
          var commentId = this.getAttribute('data-comment-id');
          var csrfToken = '{{ csrf_token }}';
          $.ajax({
            type: 'POST',
            url: '{% url "delete_comment" 0 %}'.replace('0', commentId),
            data: {
              'csrfmiddlewaretoken': csrfToken
            },
            success: function(response) {
              if (response.status === 'success') {
                document.getElementById('comment-' + commentId).remove();
              } else {
                alert('Failed to delete comment. Server responded with: ' + response.status);
              }
            },
            error: function(xhr, status, error) {
              alert('Error deleting comment: ' + xhr.responseText);
            }
          });
        });
      });
    </script>
         
  </div>
</section>


<script>
  document.getElementById('commentForm').addEventListener('submit', function(event) {
      event.preventDefault();
      var form = event.target;
      var formData = new FormData(form);
      fetch(form.action, {
          method: 'POST',
          body: formData,
          headers: {
              'X-Requested-With': 'XMLHttpRequest',
              'X-CSRFToken': formData.get('csrfmiddlewaretoken')
          }
      }).then(response => response.json()).then(data => {
          if (data.error) {
              alert(data.error);
          } else {
              location.reload();
          }
      }).catch(error => console.error('Error:', error));
  });
</script>
  
   <!-- FOOTER -->
   <div class="p-5 px-20 bg-[#006D77] grid grid-cols-1 md:grid-cols-3 gap-7 shrink-0">
    <!-- First Column -->
    <div class="flex flex-col items-center md:items-start gap-4">
        <div class="flex items-center space-x-2">
            <i class="fa-regular fa-envelope text-white"></i>
            <a class="font-sans font-normal text-s text-white" href="mailto:julian.robertsolano@ucr.ac.cr">julianrobertsolano01@gmail.com</a>
        </div>
        <div class="flex items-center space-x-2">
            <i class="fa-brands fa-github text-white"></i>
            <a class="font-sans font-normal text-s text-white" href="https://github.com/">Julian2603</a>
        </div>
        <div class="flex items-center space-x-2">
            <i class="fa-brands fa-linkedin text-white"></i>
            <a class="font-sans font-normal text-s text-white" href="https://www.linkedin.com/">Julian2603</a>
        </div>
    </div>
    <!-- Second Column -->
    <div class="flex flex-col items-center justify-center gap-2.5">
        <p class="font-sans font-normal text-xl text-white text-center">Let's get in touch!</p>
        <a href="{% url 'contact' %}" class="bg-[#83C5BE] transition duration-300 hover:bg-[#83C5BE]/70 p-1 px-6 rounded-lg font-sans font-medium text-xl text-black shadow-lg">Contact me</a>
    </div>
    <!-- Third Column -->
    <div class="flex flex-col items-center md:items-end gap-1.5">
        <div class="flex justify-center md:justify-end">
            <img class="h-10" src="{% static 'imgs/logo-white.svg' %}">
        </div>
        <div class="text-center md:text-right">
            <p class="font-sans font-normal text-s text-white">Copyright &#169; 2024 Julián Robert Solano. All Rights Reserved.</p>
        </div>
    </div>
</div>
  
</body>
</html>