{% load static tailwind_tags %}
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/288840f052.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    {% load static %}
    {% tailwind_css %}
</head>
<body>
<!-- NAVBAR -->
<!-- Navbar HTML -->
<div class="pt-10 pb-2 flex justify-between px-10 items-center">
  <div class="flex justify-start">
      <img src="{% static 'imgs/logo.svg' %}" alt="Logo">
  </div>

  <div class="hidden md:flex flex-row justify-center space-x-10">
      <a href="{% url 'home' %}" class="font-sans font-normal text-3xl transition duration-300 hover:text-[#FD8C62]">HOME</a>
      <a href="#" class="font-sans font-normal text-3xl transition duration-300 decoration-[#FD8C62] underline underline-offset-8">BLOG</a>
      <a href="{% url 'resume' %}" class="font-sans font-normal text-3xl transition duration-300 hover:text-[#FD8C62]">RESUME</a>
      <a href="{% url 'about' %}" class="font-sans font-normal text-3xl transition duration-300 hover:text-[#FD8C62]">ABOUT</a>
  </div>

  <!-- Hamburger Icon -->
  <div class="md:hidden flex items-center">
      <button id="menu-btn" class="focus:outline-none">
          <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
          </svg>
      </button>
  </div>
</div>

<!-- Mobile Menu -->
<div id="menu" class="hidden md:hidden flex flex-col space-y-4 mt-4 p-10 bg-white shadow-lg absolute w-full left-0 top-20 z-50">
  <a href="{% url 'home' %}" class="font-sans font-normal text-3xl transition duration-300 decoration-[#FD8C62] hover:text-[#FD8C62]">HOME</a>
  <a href="#" class="font-sans font-normal text-3xl transition duration-300 text-[#FD8C62]">BLOG</a>
  <a href="{% url 'resume' %}" class="font-sans font-normal text-3xl transition duration-300 hover:text-[#FD8C62]">RESUME</a>
  <a href="{% url 'about' %}" class="font-sans font-normal text-3xl transition duration-300 hover:text-[#FD8C62]">ABOUT</a>
</div>

<div class="flex justify-center">
  <hr class="border-[#BEE7E2] w-3/4 mt-4">
</div>

<!-- JavaScript -->
<script>
  document.getElementById('menu-btn').addEventListener('click', function() {
      var menu = document.getElementById('menu');
      menu.classList.toggle('hidden');
  });
</script>
  <!-- {% block content %}
  {% endblock content %} -->
<div class="flex flex-col p-10 px-20 gap-5">
    <div class="flex justify-start">
      <h1 class="font-sans font-extrabold text-5xl text-[#0097A5]">My Blog</h1>
    </div>
    <div class="flex justify-center my-5">
      <a href="{% url 'subscribe' %}" class="bg-[#006D77] transition duration-300 hover:bg-[#46A0A8]/90 p-2 px-10 rounded-lg font-sans font-bold text-2xl text-white shadow-lg">Subscribe</a>
    </div>
    <div class="flex justify-center align-center items-center">
      <div class="grid grid-cols-6 gap-5 bg-[#FFDDD2] w-11/12 p-4 rounded-2xl">
        <div class="">
          <form class="col-span-2">
            <label for="large" class="block mb-2 text-base font-medium text-gray-900">Articles shown</label>
            <select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
              <option selected>5</option>
              <option >10</option>
              <option >15</option>
              <option >20</option>
            </select>
          </form>
        </div>
        <div class="col-span-2">
          <form class="">
            <label for="large" class="block mb-2 text-base font-medium text-gray-900">Categories</label>
            <select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
              <option selected>Choose a country</option>
              <option value="US">United States</option>
              <option value="CA">Canada</option>
              <option value="FR">France</option>
              <option value="DE">Germany</option>
            </select>
          </form>
        </div>
        <div class="col-span-3">       
          <form class="mt-5">   
            <label for="default-search" class=" text-sm font-medium text-gray-900 sr-only">Search</label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>
                <input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 " placeholder="Search articles" required />
                <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">Search</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <section id="relevant-tabs" class="animate-fadeInUp">

  </section>
  <section id="blog" class="animate-fadeInUp">
    <div class="flex flex-col items-center w-full p-10 pl-20 space-y-8 pb-32">
      {% for article in object_list %}
      <div class="grid grid-cols-2 gap-2 bg-[#FFDDD2] rounded-3xl p-10 w-11/12 shadow-md transition duration-300 hover:shadow-2xl">
        <div class="flex flex-col gap-2">
          <a class="font-sans font-bold text-3xl text-black underline mb-2 underline-offset-2" href="{% url 'article' article.pk %}">{{ article.title }}</a>
          <h3 class="font-sans font-bold text-2xl text-black">{{ article.author.first_name }} {{ article.author.last_name }}</h3>
          <h3 class="font-sans font-normal text-xl text-black">{{ article.date }}</h3>
          <hr class="border-black w-3/4 mt-4">
          <p class="font-sans font-normal text-lg text-black">{{ article.category }}</p>
          <p class="font-sans font-normal text-base text-black">{{ article.abstract }}</p>
          
        </div>
        <div class="flex flex-col gap-5">
          <div class="flex w-4/5">
            <img src="{% static 'imgs/placeholder.jpg' %}" alt="">
          </div>
          <div class="flex flex-col gap-2">
            <div class="flex flex-row gap-2 justify-start align-center items-center">
              <i class="fa-regular fa-clock"></i>
              <h2 class="font-sans font-normal text-lg text-black"> Reading time: {{ article.reading_time}} min</h2>
            </div>
            <div class="flex flex-row gap-2 justify-start align-center items-center">
              <i class="fa-regular fa-heart"></i>
              <h2 class="font-sans font-normal text-lg text-black"> {{ article.likes }} likes</h2>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  
  <!-- FOOTER -->
  <div class="p-5 px-20 bg-[#006D77] grid grid-cols-1 md:grid-cols-3 gap-7 shrink-0">
    <!-- First Column -->
    <div class="flex flex-col items-center md:items-start gap-4">
        <div class="flex items-center space-x-2">
            <i class="fa-regular fa-envelope text-white"></i>
            <a class="font-sans font-normal text-s text-white" href="mailto:julian.robertsolano@ucr.ac.cr">julianrobertsolano01@gmail.com</a>
        </div>
        <div class="flex items-center space-x-2">
            <i class="fa-brands fa-github text-white"></i>
            <a class="font-sans font-normal text-s text-white" href="https://github.com/">Julian2603</a>
        </div>
        <div class="flex items-center space-x-2">
            <i class="fa-brands fa-linkedin text-white"></i>
            <a class="font-sans font-normal text-s text-white" href="https://www.linkedin.com/">Julian2603</a>
        </div>
    </div>
    <!-- Second Column -->
    <div class="flex flex-col items-center justify-center gap-2.5">
        <p class="font-sans font-normal text-xl text-white text-center">Let's get in touch!</p>
        <a href="{% url 'contact' %}" class="bg-[#83C5BE] transition duration-300 hover:bg-[#83C5BE]/70 p-1 px-6 rounded-lg font-sans font-medium text-xl text-black shadow-lg">Contact me</a>
    </div>
    <!-- Third Column -->
    <div class="flex flex-col items-center md:items-end gap-1.5">
        <div class="flex justify-center md:justify-end">
            <img class="h-10" src="{% static 'imgs/logo-white.svg' %}">
        </div>
        <div class="text-center md:text-right">
            <p class="font-sans font-normal text-s text-white">Copyright &#169; 2024 Julián Robert Solano. All Rights Reserved.</p>
        </div>
    </div>
</div>
  
</body>
</html>