{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personal Page</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://kit.fontawesome.com/288840f052.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  {% tailwind_css %}
  {% load static %}

</head>
<body>
  <!-- NAVBAR -->
  <div class=" pt-10 pb-2 flex justify-around px-10">
    <div class="flex justify-start">
      <img src="{% static 'imgs/logo.svg' %}">
    </div>

    <div class="flex flex-row justify-center space-x-10">
      <a href="{% url 'home' %}" class="font-sans font-normal text-3xl hover:text-[#FD8C62]">HOME</a>
      <a href="{% url 'blog' %}" class="font-sans font-normal text-3xl hover:text-[#FD8C62]">BLOG</a>
      <a href="" class="font-sans font-normal text-3xl decoration-[#FD8C62] underline underline-offset-8">RESUME</a>
      <a href="{% url 'about' %}" class="font-sans font-normal text-3xl hover:text-[#FD8C62]">ABOUT</a>
    </div>
  </div>
  <div class="flex justify-center">
    <hr class="border-[#BEE7E2] w-3/4 mt-4">
  </div>  
  <!-- {% block content %}
  {% endblock content %} -->
  <section id="info">
    <div class=" p-10 grid grid-cols-2 gap-4 ml-12">
      <div class="flex flex-col gap-7">
        <h1 class="font-sans font-black text-7xl text-[#0097A5] ">Julián Robert Solano</h1>
        <div class="col-span-2 flex items-center items-center space-x-2">
          <i class="fa-regular fa-envelope text-2xl text-black "></i>
          <p class="font-sans font-normal text-2xl text-black">julianrobertsolano01@gmail.com</p>
        </div>
        <div class="flex items-center items-center space-x-2">
          <i class="fa-brands fa-github text-2xl text-black"></i>
          <p class="font-sans font-normal text-2xl text-black">Julian2603</p>
        </div>
        <hr class="border-[#FFDDD2] w-3/4 mt-4">
      </div>
    </div>
  </section>
  <section id="education">
    <div class="p-10 pl-20 pb-16 space-y-8">
      <h2 class="font-sans font-bold text-4xl text-[#E29578]">Education</h2>
      <div class="ml-12 grid grid-cols-2 ">
        <div class="space-y-5">
          <h3 class="font-sans font-normal text-3xl">Santa María School</h3>
          <h3 class="font-sans font-light text-2xl">High School Diploma (2020)</h3>
        </div>
        <div class="ml-0 space-y-5">
          <h3 class="font-sans font-normal text-3xl">Universidad de Costa Rica</h3>
          <h3 class="font-sans font-light text-2xl">Bachelor´s Degree in Computer Science (2021 - Present)</h3>
        </div>
      </div>
    </div>
  </section>
  <section id="techs">
    <div class="p-10 pl-20 space-y-8 pb-16">
      <h2 class="font-sans font-bold text-4xl text-[#E29578]">Technologies</h2>
      <div class="grid grid-cols-4 gap-5 space-y-4 ml-12">
        <div class="flex flex-row items-center gap-5">
        <img class="" src="{% static 'imgs/js.svg' %}" alt="">
        <h3 class="font-sans font-light text-2xl">Javascript</h3>
      </div>
      <div class="flex flex-row items-center gap-5">
        <img class="" src="{% static 'imgs/ts.svg' %}" alt="">
        <h3 class="font-sans font-light text-2xl">Typescript</h3>
      </div>
      <div class="flex flex-row items-center gap-5">
        <img class="" src="{% static 'imgs/python.svg' %}" alt="">
        <h3 class="font-sans font-light text-2xl">Python</h3>
      </div>
      <div class="flex flex-row items-center gap-5">
        <img class="" src="{% static 'imgs/figma.svg' %}" alt="">
        <h3 class="font-sans font-light text-2xl">Figma</h3>
      </div>
      <div class="flex flex-row items-center gap-5">
        <img class="" src="{% static 'imgs/html.svg' %}" alt="">
        <h3 class="font-sans font-light text-2xl">HTML</h3>
      </div>
      <div class="flex flex-row items-center gap-5">
        <img class="" src="{% static 'imgs/react.svg' %}" alt="">
        <h3 class="font-sans font-light text-2xl">React</h3>
      </div>
      <div class="flex flex-row items-center gap-5">
        <img class="" src="{% static 'imgs/django.svg' %}" alt="">
        <h3 class="font-sans font-light text-2xl">Django</h3>
      </div>
      <div class="flex flex-row items-center gap-5">
        <img class="" src="{% static 'imgs/c.svg' %}" alt="">
        <h3 class="font-sans font-light text-2xl">C/C++</h3>
      </div>
      <div class="flex flex-row items-center gap-5">
        <img class="" src="{% static 'imgs/css.svg' %}" alt="">
        <h3 class="font-sans font-light text-2xl">CSS</h3>
      </div>
      <div class="flex flex-row items-center gap-5">
        <img class="" src="{% static 'imgs/sql.svg' %}" alt="">
        <h3 class="font-sans font-light text-2xl">SQL</h3>
      </div>
    </div>
  </div>
</section>
  <section id="skills">
    <div class="p-10 pl-20 space-y-8 pb-24">
      <h2 class="font-sans font-bold text-4xl text-[#E29578]">Soft skills</h2>
      <div class="grid grid-cols-4 gap-5 space-y-4 ml-12">
        <div class="flex flex-row items-center gap-5">
        <h3 class="font-sans font-light text-2xl">Efective comunication</h3>
      </div>
      <div class="flex flex-row items-center gap-5">
        <h3 class="font-sans font-light text-2xl">Empathy</h3>
      </div>
      <div class="flex flex-row items-center gap-5">
        <h3 class="font-sans font-light text-2xl">Creativity</h3>
      </div>
      <div class="flex flex-row items-center gap-5">
        <h3 class="font-sans font-light text-2xl">Teamwork</h3>
      </div>
      <div class="flex flex-row items-center gap-5">
        <h3 class="font-sans font-light text-2xl">Proactivity</h3>
      </div>
      <div class="flex flex-row items-center gap-5">
        <h3 class="font-sans font-light text-2xl">Problem solving</h3>
      </div>
    </div>
  </div>
</section>

  
  <!-- FOOTER -->
  <div class="p-5 px-20 bg-[#006D77] grid grid-cols-3 gap-2 shrink-0">
    <div class="grid grid-cols-2 gap-4">
      <div class="col-span-2 flex items-center space-x-2">
        <i class="fa-regular fa-envelope text-white "></i>
        <p class="font-sans font-normal text-s text-white">julianrobertsolano01@gmail.com</p>
      </div>
      <div class="flex items-center space-x-2">
        <i class="fa-brands fa-github text-white"></i>
        <p class="font-sans font-normal text-s text-white">Julian2603</p>
      </div>
      <div class="flex items-center space-x-2">
        <i class="fa-brands fa-linkedin text-white"></i>
        <p class="font-sans font-normal text-s text-white">Julian2603</p>
      </div>
    </div>
    <div class="flex flex-col justify-center align-items-center gap-y-2.5">
      <div class="flex justify-center align-items-center">
        <p class="font-sans font-normal text-xl text-white">Let's get in touch!</p>
      </div>
      <div class="flex justify-center align-items-center">
        <button class="bg-[#83C5BE] hover:bg-[#83C5BE]/70 p-1 px-6 rounded-lg font-sans font-medium text-xl text-black shadow-lg">Contact me</button>
      </div>
    </div>
    <div class="flex flex-col justify-end gap-x-1.5">
      <div class="flex justify-end gap-x-32">
        <div class="flex justify-end shrink-0">
          <img class="h-10" src="{% static 'imgs/logo-white.svg' %}">
        </div>
      </div>
      <div class="flex justify-end">
        <p class="font-sans font-normal text-s text-white">Copyright &#169; 2024 Julián Robert Solano. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</body>
</html>