{% load socialaccount %} 
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personal Page</title>
  <script src="https://kit.fontawesome.com/288840f052.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  {% tailwind_css %}
  {% load static %}

</head>
<body>
<!-- NAVBAR -->
<!-- Navbar HTML -->
<div class="pt-10 pb-2 flex justify-between px-10 items-center">
  <div class="flex justify-start">
      <img src="{% static 'imgs/logo.svg' %}" alt="Logo">
  </div>

  <div class="hidden md:flex flex-row justify-center space-x-10">
      <a href="{% url 'home' %}" class="font-sans font-normal text-3xl transition duration-300 hover:text-[#FD8C62]">HOME</a>
      <a href="{% url 'blog' %}" class="font-sans font-normal text-3xl transition duration-300 hover:text-[#FD8C62]">BLOG</a>
      <a href="" class="font-sans font-normal text-3xl transition duration-300 decoration-[#FD8C62] underline underline-offset-8">RESUME</a>
      <a href="{% url 'about' %}" class="font-sans font-normal text-3xl transition duration-300 hover:text-[#FD8C62]">ABOUT</a>
      
      {% if user.is_authenticated %}
      <div class="relative">
        <button id="profile-btn" class="flex items-center space-x-2 focus:outline-none">
            <i class="fas fa-user-circle text-3xl"></i>
        </button>
        <div id="profile-menu" class="hidden absolute right-0 mt-2 w-auto bg-white border border-gray-200 rounded-lg shadow-lg">
            <div class="flex flex-col gap-2 py-3 px-4">
                <p class="text-gray-900 font-medium text-xl">{{ user.first_name }} {{ user.last_name }}</p>
                <p class="text-gray-600">
                  {% if user_is_admin %}
                    Admin
                  {% elif user_is_moderator %}
                    Moderator
                  {% elif user_is_subscriber %}
                    Subscriber
                  {% endif %}
                </p>
                <p class="text-gray-500 font-light">{{ user.email }}</p>
            </div>
            {% if user_is_admin %} 
              <div class="py-2 border-t border-gray-200 hover:bg-gray-100">
                <a href="{% url 'action_log' %}" class="block px-4 py-2 text-gray-700">Action log</a>
              </div>
            {% endif %}
            <div class="py-2 border-t border-gray-200 hover:bg-gray-100">
                <a href="{% url 'account_logout' %}" class="block px-4 py-2 text-gray-700">Log out</a>
            </div>
        </div>
      </div>
      {% else %}
      <a href="{% provider_login_url 'google' %}?next=/" class="font-sans font-normal text-3xl transition duration-300 hover:text-[#FD8C62]">LOG-IN</a>
      {% endif %}
  </div>

  <!-- Hamburger Icon -->
  <div class="md:hidden flex items-center">
      <button id="menu-btn" class="focus:outline-none">
          <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
          </svg>
      </button>
  </div>
</div>

<!-- Mobile Menu -->
<div id="menu" class="hidden md:hidden flex flex-col space-y-4 mt-4 p-10 bg-white shadow-lg absolute w-full left-0 top-20 z-50">
  {% if user.is_authenticated %}
    <p class="font-sans font-semibold text-3xl text-gray-900">{{ user.first_name }} {{ user.last_name }}</p>
    <p class="font-sans font-normal text-xl text-gray-600">
    {% if user_is_admin %}
      Admin
    {% elif user_is_moderator %}
      Moderator
    {% elif user_is_subscriber %}
      Subscriber
    {% endif %}
    </p>
    <p class="font-sans font-normal text-xl text-gray-500">{{ user.email }}</p>
    <hr class="border-gray-200 w-11/12 mt-4">
  {% endif %}
  <a href="{% url 'home' %}" class="font-sans font-medium text-2xl transition duration-300 hover:text-[#FD8C62]">HOME</a>
  <a href="{% url 'blog' %}" class="font-sans font-medium text-2xl transition duration-300 hover:text-[#FD8C62]">BLOG</a>
  <a href=# class="font-sans font-medium text-2xl transition duration-300 text-[#FD8C62]">RESUME</a>
  <a href="{% url 'about' %}" class="font-sans font-medium text-2xl transition duration-300 hover:text-[#FD8C62]">ABOUT</a>
  {% if user.is_authenticated %}
    {% if user_is_admin %} 
      <a href="{% url 'action_log' %}" class="font-sans font-medium text-2xl transition duration-300 hover:text-[#FD8C62]">ACTION LOG</a>
    {% endif %}
      <hr class="border-gray-200 w-11/12 mt-4">
      <a href="{% url 'account_logout' %}" class="font-sans font-medium text-2xl transition duration-300 hover:text-[#FD8C62]">LOG-OUT</a>
  {% else %}
    <hr class="border-gray-200 w-11/12 mt-4">
    <a href="{% provider_login_url 'google' %}?next=/" class="font-sans font-medium text-2xl transition duration-300 hover:text-[#FD8C62]">LOG-IN</a>
  {% endif %}
</div>
<script>
  document.getElementById('menu-btn').addEventListener('click', function() {
    var menu = document.getElementById('menu');
    menu.classList.toggle('hidden');
  });
  
  document.getElementById('profile-btn').addEventListener('click', function(event) {
        var profileMenu = document.getElementById('profile-menu');
        profileMenu.classList.toggle('hidden');

        // Ensure the profile menu opens towards the left
        profileMenu.style.right = '0';
        profileMenu.style.left = 'auto';
        profileMenu.style.top = '100%';
    });

    // Close the profile menu if clicked outside
    window.addEventListener('click', function(event) {
        var profileMenu = document.getElementById('profile-menu');
        var profileBtn = document.getElementById('profile-btn');
        if (event.target !== profileBtn && !profileBtn.contains(event.target) && !profileMenu.contains(event.target)) {
            profileMenu.classList.add('hidden');
        }
    });
</script>
<!-- {% block content %}
  {% endblock content %} -->
  <section id="info" class="animate-fadeInUp">
    <div class=" p-10 grid grid-cols-1 gap-4 mx-12">
      <div class="flex flex-col gap-7">
        <h1 class="font-sans font-black text-7xl text-[#0097A5] ">Julián Robert Solano</h1>
        <div class="col-span-2 flex items-center items-center space-x-2">
          <i class="fa-regular fa-envelope text-2xl text-black "></i>
          <a class="font-sans font-normal text-lg text-black" href="mailto:julian.robertsolano@ucr.ac.cr">julianrobertsolano01@gmail.com</a>
        </div>
        <div class="flex items-center items-center space-x-2">
          <i class="fa-brands fa-github text-2xl text-black"></i>
          <a class="font-sans font-normal text-lg text-black" href="https://github.com/">Julian2603</a>
        </div>
        <hr class="border-[#FFDDD2] w-full mt-4">
      </div>
    </div>
  </section>
  <section id="education" class="animate-fadeInUp">
    <div class="p-10 pb-16 space-y-8 md:pl-20">
      <h2 class="font-sans font-bold text-4xl text-[#E29578]">Education</h2>
      <div class="ml-0 md:ml-12 grid grid-cols-1 gap-10 md:grid-cols-2">
        <div class="space-y-5">
          <h3 class="font-sans font-normal text-3xl">Santa María School</h3>
          <h3 class="font-sans font-light text-2xl">High School Diploma (2020)</h3>
        </div>
        <div class="space-y-5">
          <h3 class="font-sans font-normal text-3xl">Universidad de Costa Rica</h3>
          <h3 class="font-sans font-light text-2xl">Bachelor’s Degree in Computer Science (2021 - Present)</h3>
        </div>
      </div>
    </div>
  </section>
  
  <section id="techs" class="animate-fadeInUp">
    <div class="p-10 pl-20 space-y-8 pb-16">
      <h2 class="font-sans font-bold text-4xl text-[#E29578]">Technologies</h2>
      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 space-y-4 ml-12">
        <div class="flex flex-row items-center gap-5">
          <img class="" src="{% static 'imgs/js.svg' %}" alt="">
          <h3 class="font-sans font-light text-2xl">Javascript</h3>
        </div>
        <div class="flex flex-row items-center gap-5">
          <img class="" src="{% static 'imgs/ts.svg' %}" alt="">
          <h3 class="font-sans font-light text-2xl">Typescript</h3>
        </div>
        <div class="flex flex-row items-center gap-5">
          <img class="" src="{% static 'imgs/python.svg' %}" alt="">
          <h3 class="font-sans font-light text-2xl">Python</h3>
        </div>
        <div class="flex flex-row items-center gap-5">
          <img class="" src="{% static 'imgs/figma.svg' %}" alt="">
          <h3 class="font-sans font-light text-2xl">Figma</h3>
        </div>
        <div class="flex flex-row items-center gap-5">
          <img class="" src="{% static 'imgs/html.svg' %}" alt="">
          <h3 class="font-sans font-light text-2xl">HTML</h3>
        </div>
        <div class="flex flex-row items-center gap-5">
          <img class="" src="{% static 'imgs/react.svg' %}" alt="">
          <h3 class="font-sans font-light text-2xl">React</h3>
        </div>
        <div class="flex flex-row items-center gap-5">
          <img class="" src="{% static 'imgs/django.svg' %}" alt="">
          <h3 class="font-sans font-light text-2xl">Django</h3>
        </div>
        <div class="flex flex-row items-center gap-5">
          <img class="" src="{% static 'imgs/c.svg' %}" alt="">
          <h3 class="font-sans font-light text-2xl">C/C++</h3>
        </div>
        <div class="flex flex-row items-center gap-5">
          <img class="" src="{% static 'imgs/css.svg' %}" alt="">
          <h3 class="font-sans font-light text-2xl">CSS</h3>
        </div>
        <div class="flex flex-row items-center gap-5">
          <img class="" src="{% static 'imgs/sql.svg' %}" alt="">
          <h3 class="font-sans font-light text-2xl">SQL</h3>
        </div>
      </div>
    </div>
  </section>
  <section id="skills" class="animate-fadeInUp">
    <div class="p-10 pl-20 space-y-8 pb-24">
      <h2 class="font-sans font-bold text-4xl text-[#E29578]">Soft skills</h2>
      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 space-y-4 ml-12">
        <div class="flex flex-row items-center gap-5">
          <h3 class="font-sans font-light text-2xl">Efective comunication</h3>
        </div>
        <div class="flex flex-row items-center gap-5">
          <h3 class="font-sans font-light text-2xl">Empathy</h3>
        </div>
        <div class="flex flex-row items-center gap-5">
          <h3 class="font-sans font-light text-2xl">Creativity</h3>
        </div>
        <div class="flex flex-row items-center gap-5">
          <h3 class="font-sans font-light text-2xl">Teamwork</h3>
        </div>
        <div class="flex flex-row items-center gap-5">
          <h3 class="font-sans font-light text-2xl">Proactivity</h3>
        </div>
        <div class="flex flex-row items-center gap-5">
          <h3 class="font-sans font-light text-2xl">Problem solving</h3>
        </div>
      </div>
    </div>
  </section>

  
  <!-- FOOTER -->
  <div class="p-5 px-20 bg-[#006D77] grid grid-cols-1 md:grid-cols-3 gap-7 shrink-0">
    <!-- First Column -->
    <div class="flex flex-col items-center md:items-start gap-4">
        <div class="flex items-center space-x-2">
            <i class="fa-regular fa-envelope text-white"></i>
            <a class="font-sans font-normal text-s text-white" href="mailto:julian.robertsolano@ucr.ac.cr">julianrobertsolano01@gmail.com</a>
        </div>
        <div class="flex items-center space-x-2">
            <i class="fa-brands fa-github text-white"></i>
            <a class="font-sans font-normal text-s text-white" href="https://github.com/">Julian2603</a>
        </div>
        <div class="flex items-center space-x-2">
            <i class="fa-brands fa-linkedin text-white"></i>
            <a class="font-sans font-normal text-s text-white" href="https://www.linkedin.com/">Julian2603</a>
        </div>
    </div>
    <!-- Second Column -->
    <div class="flex flex-col items-center justify-center gap-2.5">
        <p class="font-sans font-normal text-xl text-white text-center">Let's get in touch!</p>
        <a href="{% url 'contact' %}" class="bg-[#83C5BE] transition duration-300 hover:bg-[#83C5BE]/70 p-1 px-6 rounded-lg font-sans font-medium text-xl text-black shadow-lg">Contact me</a>
    </div>
    <!-- Third Column -->
    <div class="flex flex-col items-center md:items-end gap-1.5">
        <div class="flex justify-center md:justify-end">
            <img class="h-10" src="{% static 'imgs/logo-white.svg' %}">
        </div>
        <div class="text-center md:text-right">
            <p class="font-sans font-normal text-s text-white">Copyright &#169; 2024 Julián Robert Solano. All Rights Reserved.</p>
        </div>
    </div>
</div>
</body>
</html>