<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personal Page</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://kit.fontawesome.com/288840f052.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
  <!-- NAVBAR -->
  <div class="pt-10 pb-2 flex justify-around px-10">
    <div class="flex justify-star">
      <img src="logo.svg">
    </div>

    <div class="flex flex-row justify-center space-x-10">
      <h1 class="font-sans font-normal text-3xl hover:text-[#FD8C62]">BLOG</h1>
      <h1 class="font-sans font-normal text-3xl hover:text-[#FD8C62]">RESUME</h1>
      <h1 class="font-sans font-normal text-3xl hover:text-[#FD8C62]">ABOUT</h1>
    </div>
  </div>
  <div class="flex justify-center">
    <hr class="border-[#BEE7E2] w-3/4 mt-4">
  </div>  
  
  {% block content %}

  {% endblock content %}

  
  <!-- FOOTER -->
  <div class="p-5 px-20 bg-[#006D77] grid grid-cols-3 gap-2 shrink-0">
    <div class="grid grid-cols-2 gap-4">
      <div class="col-span-2 flex items-center space-x-2">
        <i class="fa-regular fa-envelope text-white "></i>
        <p class="font-sans font-normal text-s text-white">julianrobertsolano01@gmail.com</p>
      </div>
      <div class="flex items-center space-x-2">
        <i class="fa-brands fa-github text-white"></i>
        <p class="font-sans font-normal text-s text-white">Julian2603</p>
      </div>
      <div class="flex items-center space-x-2">
        <i class="fa-brands fa-linkedin text-white"></i>
        <p class="font-sans font-normal text-s text-white">Julian2603</p>
      </div>
    </div>
    <div class="flex flex-col justify-center align-items-center gap-y-2.5">
      <div class="flex justify-center align-items-center">
        <p class="font-sans font-normal text-xl text-white">Let's get in touch!</p>
      </div>
      <div class="flex justify-center align-items-center">
        <button class="bg-[#83C5BE] hover:bg-[#83C5BE]/70 p-1 px-6 rounded-lg font-sans font-medium text-xl text-black shadow-lg">Contact me</button>
      </div>
    </div>
    <div class="flex flex-col justify-end gap-x-1.5">
      <div class="flex justify-end gap-x-32">
        <div class="flex flex-row space-x-10">
          <h1 class="font-sans font-normal text-lg text-white hover:text-[#FD8C62]">BLOG</h1>
          <h1 class="font-sans font-normal text-lg text-white hover:text-[#FD8C62]">RESUME</h1>
          <h1 class="font-sans font-normal text-lg text-white hover:text-[#FD8C62]">ABOUT</h1>
        </div>
        <div class="flex justify-end shrink-0">
          <img class="h-10" src="logo-white.svg">
        </div>
      </div>
      <div class="flex justify-end">
        <p class="font-sans font-normal text-s text-white">Copyright &#169; 2024 Julián Robert Solano. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</body>
</html>